.qualificationClass{
    margin-top: 750px;
}

.qualificationClass ul{
    padding-left: 20px;
}

.qualificationClass li{
    font-size: 1.625rem;
}


.qualificationClass .img-fluid{
    max-height: 927px;
    margin-left: 50px;
}

.qualificationClass .marginLeftFix{
    margin-left: 150px;
}

.qualificationClass .socialMarginTopFix{
    margin-top: -20px;
}

@media (min-width: 1200px){

    .qualificationClass{
        margin-top: 150px;
    }

    .qualificationClass li{
        font-size: 1rem;
    }    

    .qualificationClass .marginLeftFix{
        margin-left: 120px;
    }
}

@media (min-width: 1400px){
    .qualificationClass li{
        font-size: 1.1rem;
    }   
}

@media (min-width: 1700px){

    .qualificationClass{
        margin-top: 400px;
    }

    .qualificationClass li{
        font-size: 1.2rem;
    }  
}

@media (min-width: 1910px){
    .qualificationClass{
        margin-top: 750px;
    }

    .qualificationClass li{
        font-size: 1.625rem;
    }

    .qualificationClass .marginLeftFix{
        margin-left: 150px;
    }
}