@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Roboto:wght@400;500&display=swap');

html{
    height: 100%;
    overflow-x: hidden;
}

body{ 
    overflow-x: hidden;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    font-family: 'Roboto', sans-serif;
    
}

h1{
    background-color: transparent;
}

.appClass{
    margin: 0 320px;
}